.filterContainer {
    display: flex;
    width: 100%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.locationContainer, .guestContainer {
    display: flex;
    flex-wrap: wrap;
    height: 55px;
}

.locationContainer, .guestContainer {
    width: 35%;
    padding: 26px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.locationContainer {
    border-radius: 16px;
}


.locationContainer h3, .guestContainer h3 {
    font-size: 9px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    line-height: 11px;
    text-transform: uppercase;
    color: #333333
}

.locationInput, .guestInput {
    width: 100%;
    border: none;
    margin-top: 4px;
    font-family: 'Mulish';
    font-weight: 400; 
    line-height: 18px;
    color: #333333;
}

.locationInput:focus, .guestInput:focus {
    outline: none;
}

.guestInput::placeholder {
    color: #BDBDBD;
}

@media only screen and (max-width: 375px) {

      .headerModal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: 'Mulish';
        font-weight: 700;
        font-size:12px;
        line-height: 15px;
        color: #333333;
        margin-bottom: 16px;
      }

      .headerModal img {
        width: 28px;
      }

      .filterContainer {
        flex-wrap: wrap;
      }

      .locationContainer, .guestContainer {
        width: 100%;
      }
}