.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

@media only screen and (max-width: 375px) {
    .container {
        flex-wrap: wrap;
        margin-bottom: 37px;
        justify-content: center;
    }
    
    .logo {
        width: 100%;
        text-align: left;
        margin-bottom: 37px;
    }
}