.location {
    width: 395px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 1px 6px 0px #0000001A;
    transition: box-shadow 1s;
}

.location:hover {
    box-shadow: 0px 1px 6px 0px #0000006A;
}

.locationImg {
    display: flex;
    width: 100%;
    border-radius: 24px;
    overflow: auto;
    max-height: 230px;
}

.locationImg img {
    width: 100%;
}

.locationInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.locationInfo button {
    display: block;
    width: 100px;
    height: 28px;
    border: 1px solid #4f4f4f;
    border-radius: 12px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    color: #4f4f4f;
    background-color: transparent
}

.locationInfo p {
    display: block;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #828282
}

.locationInfo figure {
    display: flex;
    align-items: center;
}

.locationInfo figcaption {
    width: 50%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #4f4f4f;
    padding-left: 4px;
}

.locationInfo figure img {
    width: 18px;
    object-fit: contain;
    filter: invert(64%) sepia(51%) saturate(7021%) hue-rotate(329deg) brightness(98%) contrast(88%);
}

.locationDescription {
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    text-align: left;
    padding: 10px;
    padding-top: 0;
}
