.locationPageContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.locationHeaderContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.locationSearch {
    width: 50%;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}

.locationHeaderContainer p {
    display: block;
    width: 50%;
    text-align: right;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #4f4f4f;
}

.locationsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
    gap: 32px;
    justify-content: space-between
}

@media only screen and (max-width: 375px) {
    .locationSearch {
        font-size: 18px;
    }   
}
