.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 93px;
    margin-bottom: 93px;
    margin-left: 96px;
    margin-right: 96px;
}

@media only screen and (max-width: 375px) {
    .container {
        margin-top: 18px;
        margin-bottom: 24px;
        margin-right: 12px;
        margin-left: 12px;
        flex-direction: column;
        justify-content: space-between;
        height: 88%;
    }  
}