.listContainer {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    padding-top: 40px;
}

@media only screen and (max-width: 375px) {
    .listContainer {
        padding-top: 35px;
        width: 100%;
    }
}