.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    height: 100vh;
    background-color: rgba(0,0,0,0.75)
}

.modalContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
}

.modal {
    animation-name: slideDown;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    background-color: #fff;
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    z-index: 30;
    text-align: center;
    max-width: inherit;
    max-height: 85%;
}

    @keyframes slideDown {
        0% {opacity: 0; transform: translateY(-3rem)}
        100% {opacity: 1; transform: translateY(0)}
    }