.searchContainer {
    display: flex;
    flex-wrap: wrap;
    height: 55px;
}

.searchContainer {
    width: 30%;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 3px;
}

.searchButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 32%;
    background: #eb5757;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    color: #F2F2F2;
    cursor:pointer;
}

.searchButton p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.searchImg {
    width: 17px;
    filter: invert(100%) sepia(81%) saturate(34%) hue-rotate(222deg) brightness(120%) contrast(90%);
}

@media only screen and (max-width: 375px) {
      .searchContainer {
        width: 100%
      }
}